.mobileCategoryContainer {
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-bottom: 5px; /* Adjust the margin as desired */
}

.mobileCategoryInfo {
  background: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.mobileCategoryInfo h3 {
  font-size: 14px; /* Adjust the font size as desired */
  line-height: 18px; /* Adjust the line height as desired */
  letter-spacing: 1px;
  font-weight: 700;
  margin-left: 10px;
}

.mobileCategorySection p {
  font-size: 12px; /* Adjust the font size as desired */
  font-weight: 700;
  line-height: 16px; /* Adjust the line height as desired */
  letter-spacing: 1px;
  opacity: 50%;
  color: black;
  margin-right: 10px;
}
